
.card {
    direction: rtl;
    box-shadow: 0 0 20px  #00000033;
    display: block;
    width: 100%;
    padding: .75rem 1.25rem;
    border-radius: 1rem;
    transition: .5s background-color;
    background: #FFD675;
}

.card:hover {
    background-color: #ffba19;
}

.image {
    width: 24px;
    height: 24px;
    fill: #563285;
}
.icon{
    padding: .2rem;
    width: 30px;
    height: 30px;
    fill: #563285;
}
.title {
    color: black;
    font-size: .9rem;
}

.subTitle {
    color: black;
    font-size: .8rem;
}